<h2>More information about {{model.location}}</h2>

{{update-climb climb=model update="update"}}

{{trail-detail climb=model destroyClimb="destroyClimb"}}

<h3>trail links: </h3>
{{new-comment saveComment="saveComment" climb=model}}
<hr>
<hr>
<hr>
<hr>
{{comment-tile destroyComment="destroyComment" climb=model}}
